.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 126px;
  border-bottom: 1px solid #EAEAEA;
  padding: 0 45px;
}

.headerLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 40px;
  height: 40px;
}

.name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
  cursor: pointer;

  img {
    margin-right: 20px;
  }
}





